<form action="" class="login-form">
    <div class="inputBox">
        <span>username</span>
        <input type="text" placeholder="enter your name">
    </div>

    <div class="inputBox">
        <span>password</span>
        <input type="password" placeholder="enter your password">
    </div>

    <div class="remember">
        <input type="checkbox" name="" id="login-remember">
        <label for="login-remember">remeber me</label>
    </div>

    <input type="submit" value="login" class="btn">

</form>